{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "error",
    "no-debugger": "error",
    "func-names": ["off"],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-unresolved": ["off"],
    "import/no-named-as-default": ["off"],
    "prettier/prettier": ["error"]
  },
  "parser": "babel-eslint"
}
