@import "@/components/App/variables.scss";
@import "@/components/App/fonts.scss";

html {
  font-size: $font-size-base;
}

body {
  margin: 0;
  padding: 0;
  color: $text-default;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h3,
p {
  margin: 0;
}

:global(.innerSection) {
  width: calc(100% - 40px);
  max-width: 1210px;
  margin-right: auto;
  margin-left: auto;

  & :global(.title) {
    margin: 0;
    padding: 55px 0;
    font-size: 2rem;
    text-align: center;
  }

  & :global(.subtitle) {
    display: block;
    margin: -30px auto 30px;
    text-align: center;
  }
}
