// colors:
$white: #fff;
$grey-dark: #4c525b;
$grey-light: #efefef;
$purple-dark: #101825;
$blue-indeed: #2164f5;
$orange-indeed: #ff6602;

// utils
$text-default: $grey-dark;

// breakpoints
$sd: 576px;
$md: 768px;

// font-sizes
$font-size-base: 16px;
